<% provide(:title, 'All users') %>
<h1>All users</h1>

<<<<<<< HEAD
<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  　<%= render @users %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>
=======
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
>>>>>>> fadab1e8e4fc52db75c637b3b03b82a74dd076b4
