<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_for(:session, url: user_session_path) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    </div>
    
    <p>New user? <%= link_to "Sign up now!", new_user_registration_path %></p>
  </div>
</div>
<% end %>